# This is an example config file. DO NOT TOUCH this file. Instead:
# 1. Create file env_private in the same directory;
# 2. Copy the contents of current file into new file;
# 3. Fill up all empty vars;

# FedEx:
# API base URL.
FEDEX_SANDBOX_URL=
# Tracking API key (referred as 'client_credentials' in auth requests).
FEDEX_TRACKING_SANDBOX_API_KEY=
# Tracking API secret key (referred as 'client_secret' in auth requests).
FEDEX_TRACKING_SANDBOX_SECRET_KEY=
