# This is an example config file. DO NOT TOUCH this file. Instead:
# 1. Create file env_private in the same directory;
# 2. Copy the contents of current file into new file;
# 3. Fill up all empty vars;

# FedEx REST (required when FEDEX_TRACKING_USE_SOAP=0):
# API base URL.
FEDEX_SANDBOX_URL=
# Tracking API key (referred as 'client_credentials' in auth requests).
FEDEX_TRACKING_SANDBOX_API_KEY=
# Tracking API secret key (referred as 'client_secret' in auth requests).
FEDEX_TRACKING_SANDBOX_SECRET_KEY=

# FedEx SOAP (required when FEDEX_TRACKING_USE_SOAP=1):
# .WebAuthenticationDetail.ParentCredential.Key
FEDEX_TRACKING_SOAP_SANDBOX_PARENT_KEY=
# .WebAuthenticationDetail.ParentCredential.Password
FEDEX_TRACKING_SOAP_SANDBOX_PARENT_PASSWORD=
# .WebAuthenticationDetail.UserCredential.Key
FEDEX_TRACKING_SOAP_SANDBOX_USER_KEY=
# .WebAuthenticationDetail.UserCredential.Password
FEDEX_TRACKING_SOAP_SANDBOX_USER_PASSWORD=
# .ClientDetail.AccountNumber
FEDEX_TRACKING_SOAP_SANDBOX_CLIENT_ACCOUNT=
# .ClientDetail.MeterNumber
FEDEX_TRACKING_SOAP_SANDBOX_CLIENT_METER=
